Repository LedgerHQ/python-erc7730, pull requests merged in 2024-11, with the labels that each got.

#133 dependencies: update dependencies
  pdm.lock
Labels: dependencies, automated pr

#135 feat(BACK-7925): implement `erc7730 generate` command
  pdm.lock
  pyproject.toml
  src/erc7730/common/abi.py
  src/erc7730/convert/ledger/eip712/convert_eip712_to_erc7730.py
  src/erc7730/convert/ledger/eip712/convert_erc7730_to_eip712.py
  src/erc7730/convert/resolved/convert_erc7730_input_to_resolved.py
  src/erc7730/generate/generate.py
  src/erc7730/generate/schema_tree.py
  src/erc7730/lint/classifier/__init__.py
  src/erc7730/lint/classifier/eip712_classifier.py
  src/erc7730/lint/lint_transaction_type_classifier.py
  src/erc7730/lint/lint_validate_display_fields.py
  src/erc7730/main.py
  src/erc7730/model/context.py
  src/erc7730/model/input/context.py
  src/erc7730/model/paths/path_schemas.py
  src/erc7730/model/resolved/context.py
  tests/generate/__init__.py
  tests/generate/data/abis001.json
  tests/generate/data/schemas001.json
  tests/generate/test_generate.py
  tests/model/paths/test_path_schemas.py
  tests/test_main.py
Labels: dependencies, sources

#139 doc(BACK-7925): document missing commands + python
  docs/pages/usage_cli.md
Labels: documentation

#140 dependencies: update dependencies
  pdm.lock
Labels: dependencies, automated pr

#141 doc: fix typos
  docs/pages/usage_cli.md
Labels: documentation

#142 dependencies: update dependencies
  pdm.lock
Labels: dependencies, automated pr

#144 chore(BACK-8009): update slices support
  src/erc7730/model/paths/__init__.py
  src/erc7730/model/paths/path_parser.py
  tests/model/paths/test_path_parser.py
Labels: sources

#145 dependencies: update dependencies
  pdm.lock
Labels: dependencies, automated pr

#146 feat: allow to provide a custom base URL for Etherscan API
  src/erc7730/common/client.py
Labels: sources

#151 dependencies: update dependencies
  pdm.lock
Labels: dependencies, automated pr

#152 fix(BACK-8037): EIP-712 conversion must not use format=amount inside arrays
  src/erc7730/convert/ledger/eip712/convert_erc7730_to_eip712.py
  tests/assertions.py
  tests/convert/ledger/eip712/data/eip712-UniswapX-DutchOrder.json
  tests/convert/ledger/eip712/test_convert_erc7730_to_eip712.py
  tests/skip.py
Labels: sources
