Repository LedgerHQ/python-erc7730, pull requests merged in 2024-10, with the labels that each got.

#67 fix: fix `excluded` field lost when resolving descriptor
  src/erc7730/convert/convert_erc7730_input_to_resolved.py
Labels: sources

#68 ci: cleanups and fixes
  .github/labeler.yml
  .github/workflows/automerge.yml
  .github/workflows/ci.yml
  .github/workflows/release-drafter.yml
  .github/workflows/release.yml
  .github/workflows/update_dependencies.yml
  .github/workflows/update_submodules.yml
Labels: ci

#69 docs: remove graphviz
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/update_dependencies.yml
  docs/pages/usage_library.md
  pdm.lock
  pyproject.toml
Labels: documentation, dependencies, sources, ci

#71 fix: switch back to pep517
  pyproject.toml
Labels: sources

#78 ci: update versions, checkout recursive
  .github/actions/pdm/action.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/update_dependencies.yml
  pdm.lock
  pyproject.toml
Labels: dependencies, sources, ci

#81 fix: add missing discriminator field
  src/erc7730/model/unions.py
Labels: bug, sources

#79 test: enable more tests after registry fixes
  tests/convert/resolved/test_convert_input_to_resolved.py
  tests/lint/test_lint.py
  tests/model/test_model_serialization.py
Labels: sources, submodules

#83 fix: tokenPath is not mandatory
  src/erc7730/model/display.py
Labels: sources

#90 fix: fix polygonscan API URL
  src/erc7730/common/client.py
Labels: sources

#93 feat: parse ABI signature
  src/erc7730/common/abi.py
  tests/common/test_abi.py
Labels: sources

#95 feat: parser simplification
  src/erc7730/common/abi.py
Labels: sources

#94 dependencies: update dependencies
  pdm.lock
Labels: automated pr, dependencies

#96 fix: proxy detection
  src/erc7730/common/abi.py
Labels: sources

#97 fix: clearer ABI linter error messages
  src/erc7730/common/client.py
  src/erc7730/lint/lint_validate_abi.py
Labels: sources

#99 dependencies: update dependencies
  pdm.lock
Labels: automated pr, dependencies

#100 chore: migrate to eip712 3.0.1
  pdm.lock
  pyproject.toml
  src/erc7730/convert/ledger/eip712/convert_eip712_to_erc7730.py
  src/erc7730/convert/ledger/eip712/convert_erc7730_to_eip712.py
  src/erc7730/lint/common/paths.py
  src/erc7730/main.py
  src/erc7730/model/context.py
  tests/convert/ledger/eip712/test_convert_eip712_round_trip.py
  tests/convert/ledger/eip712/test_convert_eip712_to_erc7730.py
  tests/schemas.py
Labels: dependencies, sources

#102 feat: add `erc7730 resolve` command to convert descriptor to resolved form
  src/erc7730/main.py
  tests/test_main.py
Labels: sources

#103 feat: add `erc7730 generate` command to bootstrap descriptors from chain id/contract
  src/erc7730/generate/__init__.py
  src/erc7730/generate/generate.py
  src/erc7730/main.py
Labels: sources

#108 dependencies: update dependencies
  pdm.lock
Labels: automated pr, dependencies

#107 feat: support all Etherscan based chains, add support for `file://` URLs, improve linter outputs
  .pre-commit-config.yaml
  pdm.lock
  pyproject.toml
  src/erc7730/common/client.py
  src/erc7730/common/output.py
  src/erc7730/convert/resolved/convert_erc7730_input_to_resolved.py
  src/erc7730/lint/lint.py
  src/erc7730/lint/lint_validate_abi.py
  tests/common/test_client.py
  tests/test_main.py
Labels: dependencies, sources

#109 chore: slightly better pdm scripts
  pyproject.toml
Labels: sources

#110 dependencies: update dependencies
  pdm.lock
Labels: automated pr, dependencies

#111 chore(BACK-7878): minor improvements to resolved form
  src/erc7730/common/client.py
  src/erc7730/convert/resolved/parameters.py
  src/erc7730/model/input/display.py
  src/erc7730/model/resolved/display.py
  src/erc7730/model/types.py
  tests/convert/resolved/data/definition_using_constants_resolved.json
  tests/convert/resolved/data/format_token_amount_resolved.json
  tests/convert/resolved/data/format_token_amount_using_constants_resolved.json
Labels: sources

#112 fix: fix presence of `params` not enforced when parameters are mandatory
  src/erc7730/convert/resolved/convert_erc7730_input_to_resolved.py
Labels: sources

#116 test: update tests asserts
  tests/convert/ledger/eip712/test_convert_eip712_round_trip.py
  tests/convert/resolved/data/format_address_name_input.json
  tests/convert/resolved/data/format_address_name_resolved.json
  tests/convert/resolved/data/format_address_name_using_constants_input.json
  tests/convert/resolved/data/format_address_name_using_constants_resolved.json
Labels: sources

#119 dependencies: update dependencies
  pdm.lock
Labels: dependencies, automated pr

#121 feat: use more compact JSON formatter
  src/erc7730/common/json.py
  src/erc7730/common/pydantic.py
  tests/convert/resolved/data/definition_format_address_name_resolved.json
  tests/convert/resolved/data/definition_format_amount_resolved.json
  tests/convert/resolved/data/definition_format_calldata_resolved.json
  tests/convert/resolved/data/definition_format_date_resolved.json
  tests/convert/resolved/data/definition_format_duration_resolved.json
  tests/convert/resolved/data/definition_format_enum_resolved.json
  tests/convert/resolved/data/definition_format_nft_name_resolved.json
  tests/convert/resolved/data/definition_format_raw_resolved.json
  tests/convert/resolved/data/definition_format_token_amount_resolved.json
  tests/convert/resolved/data/definition_format_unit_resolved.json
  tests/convert/resolved/data/definition_override_label_resolved.json
  tests/convert/resolved/data/definition_override_params_resolved.json
  tests/convert/resolved/data/definition_using_constants_resolved.json
  tests/convert/resolved/data/format_address_name_resolved.json
  tests/convert/resolved/data/format_address_name_using_constants_resolved.json
  tests/convert/resolved/data/format_amount_resolved.json
  tests/convert/resolved/data/format_amount_using_constants_resolved.json
  tests/convert/resolved/data/format_calldata_resolved.json
  tests/convert/resolved/data/format_calldata_using_constants_resolved.json
  tests/convert/resolved/data/format_date_resolved.json
  tests/convert/resolved/data/format_date_using_constants_resolved.json
  tests/convert/resolved/data/format_duration_resolved.json
  tests/convert/resolved/data/format_duration_using_constants_resolved.json
  tests/convert/resolved/data/format_enum_resolved.json
  tests/convert/resolved/data/format_enum_using_constants_resolved.json
  tests/convert/resolved/data/format_nft_name_resolved.json
  tests/convert/resolved/data/format_nft_name_using_constants_resolved.json
  tests/convert/resolved/data/format_raw_resolved.json
  tests/convert/resolved/data/format_raw_using_constants_resolved.json
  tests/convert/resolved/data/format_token_amount_resolved.json
  tests/convert/resolved/data/format_token_amount_using_constants_resolved.json
  tests/convert/resolved/data/format_unit_resolved.json
  tests/convert/resolved/data/format_unit_using_constants_resolved.json
  tests/convert/resolved/data/minimal_contract_resolved.json
  tests/convert/resolved/data/minimal_eip712_resolved.json
Labels: sources

#122 feat: implement resolution of selectors
  src/erc7730/convert/resolved/convert_erc7730_input_to_resolved.py
  src/erc7730/lint/lint_validate_display_fields.py
  src/erc7730/model/resolved/display.py
  src/erc7730/model/types.py
  tests/convert/resolved/data/minimal_contract_resolved.json
Labels: sources

#124 feat: implement address normalization in resolved form
  src/erc7730/convert/ledger/eip712/convert_eip712_to_erc7730.py
  src/erc7730/convert/ledger/eip712/convert_erc7730_to_eip712.py
  src/erc7730/convert/resolved/convert_erc7730_input_to_resolved.py
  src/erc7730/generate/generate.py
  src/erc7730/model/context.py
  src/erc7730/model/input/context.py
  src/erc7730/model/input/display.py
  src/erc7730/model/input/lenses.py
  src/erc7730/model/resolved/context.py
  src/erc7730/model/types.py
  tests/convert/resolved/data/minimal_contract_input.json
  tests/convert/resolved/data/minimal_contract_resolved.json
  tests/convert/resolved/test_constants.py
Labels: sources

#125 fix: fix trusted names sources
  src/erc7730/model/display.py
  src/erc7730/model/input/display.py
  src/erc7730/model/resolved/display.py
Labels: sources

#126 fix: fix default console output not printing file path
  src/erc7730/common/output.py
  src/erc7730/lint/lint.py
Labels: sources

#128 feat(BACK-7910): implement handling of nested fields
  docs/pages/usage_library.md
  src/erc7730/convert/resolved/convert_erc7730_input_to_resolved.py
  src/erc7730/main.py
  src/erc7730/model/input/descriptor.py
  src/erc7730/model/resolved/__init__.py
  src/erc7730/model/resolved/descriptor.py
  tests/convert/resolved/data/nested_fields_eip712_array_input.json
  tests/convert/resolved/data/nested_fields_eip712_array_resolved.json
  tests/convert/resolved/data/nested_fields_eip712_struct_input.json
  tests/convert/resolved/data/nested_fields_eip712_struct_resolved.json
  tests/convert/resolved/test_convert_input_to_resolved.py
Labels: documentation, sources

#131 fix: fix console output formatting
  src/erc7730/common/output.py
Labels: sources
