Repository LedgerHQ/python-erc7730, pull requests merged in 2024-12, with the labels that each got.

#158 dependencies: update dependencies
  pdm.lock
  pyproject.toml
Labels: dependencies, sources, automated pr

#163 dependencies: update dependencies
  pdm.lock
Labels: dependencies, automated pr

#164 fix: fix `$id` lost during input->resolved conversion
  src/erc7730/convert/resolved/convert_erc7730_input_to_resolved.py
Labels: sources

#166 dependencies: update dependencies
  pdm.lock
Labels: dependencies, automated pr

#173 feat(BACK-8135): add type info to constants
  src/erc7730/convert/resolved/values.py
  src/erc7730/model/resolved/display.py
  tests/convert/resolved/data/literal_values_resolved.json
Labels: sources

#174 dependencies: update dependencies
  pdm.lock
Labels: dependencies, automated pr
