Repository LedgerHQ/python-erc7730, pull requests merged in 2025-02, with the labels that each got.

#190 dependencies: update dependencies
  pdm.lock
Labels: dependencies, automated pr

#186 feat(BACK-8213): EIP-712 trusted names support
  .pre-commit-config.yaml
  pdm.lock
  pyproject.toml
  src/erc7730/convert/ledger/eip712/convert_eip712_to_erc7730.py
  src/erc7730/convert/ledger/eip712/convert_erc7730_to_eip712.py
  src/erc7730/model/paths/__init__.py
  tests/convert/ledger/eip712/data/eip712-UniswapX-DutchOrder.json
  tests/convert/ledger/eip712/test_convert_eip712_round_trip.py
  tests/convert/ledger/eip712/test_convert_erc7730_to_eip712.py
Labels: dependencies, sources

#191 dependencies: update dependencies
  pdm.lock
Labels: dependencies, automated pr

#193 feat(BACK-8211): Add default sources
  src/erc7730/convert/ledger/eip712/convert_erc7730_to_eip712.py
  tests/convert/ledger/eip712/data/eip712-UniswapX-DutchOrder.json
  tests/convert/ledger/eip712/test_convert_eip712_round_trip.py
Labels: sources

#195 dependencies: update dependencies
  pdm.lock
Labels: dependencies, automated pr

#196 dependencies: update dependencies
  pdm.lock
Labels: dependencies, automated pr
