Repository LedgerHQ/python-erc7730, pull requests merged in 2025-01, with the labels that each got.

#177 feat(BACK-8208): tooling: Allow generation from string inputs
  .pre-commit-config.yaml
  src/erc7730/generate/generate.py
  src/erc7730/main.py
  tests/generate/test_generate.py
Labels: sources, breaking

#175 dependencies: update dependencies
  pdm.lock
Labels: dependencies, automated pr

#178 dependencies: update dependencies
  pdm.lock
Labels: dependencies, automated pr

#180 feat: exclude array slices from schema path
  src/erc7730/model/paths/path_schemas.py
Labels: sources

#179 dependencies: update dependencies
  pdm.lock
Labels: dependencies, automated pr

#184 feat: Add deploymentDate and deprecate lastUpdate
  src/erc7730/model/metadata.py
Labels: sources

#182 dependencies: update dependencies
  pdm.lock
Labels: dependencies, automated pr
